.grid {
    text-align: center;
}

.box {
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
    border-radius: 4px;
}

.controls {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 150px;
}

#A {
    position: absolute;
    left: 100px;
    top: 20px;
}

#B {
    position: absolute;
        right: 100px;
        top: 20px;
}

#C {
    position: absolute;
        left: 100px;
        top: 100px;
}

#D {
    position: absolute;
        right: 100px;
        top: 100px;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#green {
    background-color: green;
}